@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Montserrat:wght@600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

p {
  font-family: Inter;
}

h1 {
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat;
}

body {
  font-family: var(--font-inter);
}
