@import "tailwindcss";

@layer components {
  .primary-btn {
    @apply bg-orange-400 text-white font-bold py-2 px-4 rounded shadow-sm hover:shadow-md;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 23px;
}
